{% extends "index.html" -%}

<!-- ******* CSS start ******* --> 
{% block style -%}
<style type="text/css">
{% include "css/resets.css" %}
</style>
<style type="text/css">
{% include "css/style.css" %}
</style>
<!--<![endif]-->
<style type="text/css">
{% include "css/media-queries.css" %}
</style>
 <!--[if !(gte mso 9)|!IE]>  <!-- -->
<style type="text/css">
{% include "css/media-queries-kinetic.css" %}
</style>
<!--<![endif]-->
{% endblock -%}


{% block outlook -%}
{% include "css/outlook.html" %}
{% endblock -%}