/*
|==========================================================================
| INLINE CSS 
|==========================================================================
*/
/** 
*/
/*
|--------------------------------------------------------------------------
| GLOBAL
|-------------------------------------------------------------------------- 
*/
body
{
    padding: 0;
}
img
{
    line-height: 100%;

    display: block;

    height: auto;

    text-decoration: none;

    border: 0;
    outline: none;
}
table.wrapper
{
    padding: 0;
}
/** beige  target elements which are DIRECT children (not nested) and only the first <td> of those children */
.wrapper > tr > td:nth-child(1)
{
    padding: 0;
}
table.container
{
    padding: 0;
}
/** pink */
td.container__td
{
    padding-top: 0;
   padding-right:  2.941176470588%;
    padding-bottom:0;
    padding-left:  2.941176470588%;
}

/*
|--------------------------------------------------------------------------
| TYPOGRAPHY
|-------------------------------------------------------------------------- 
*/

.preheader
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;

    text-align: center;

    color: #7d7d7d;
}
.preheader a
{
    text-decoration: underline;
    color: #000000;
}
.nav-text 
{
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5pt !important;
}
.nav-text a
{
    text-decoration: none;
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.5pt !important;
    border-top: 9px solid #ffffff; 
    border-bottom: 9px solid #ffffff; 
    border-right: 8px solid #ffffff; 
    border-left: 8px solid #ffffff; 
    display: inline-block;
}

.pid-title
{
    font-family: georgia, serif;
    color: #2b2b2b;
    font-size: 12px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 0;

}
.pid-text
{
    font-family: georgia, serif;
    color: #2b2b2b;
    font-size: 12px;
    line-height: 19px;
    text-decoration: none;
    padding: 6px 0;

}
.pid-title a, 
.pid-text a
{
    text-decoration: none;
    color: #2b2b2b;
}
.footer-text
{
    padding: 0 0 13px 0;
    font-family: Georgia, Times, serif;
    font-size: 12px;
    color: #2b2b2b;
    line-height: 18px;
    text-align: center;
}
.cta
{
    font-family: Arial, sans-serif, 'FreightBold';
    font-size: 13px;
    font-weight: 600;

    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #228ae6;
}

.tac
{
    text-align: center;
}

/*
|--------------------------------------------------------------------------
|  1COL 
|-------------------------------------------------------------------------- 
*/
.mod-1col .container__td
{
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: #ffffff;
}    /** pink  | overide container td padding here if required  e.g. for full width img */
.mod-1col .content
{
    padding: 0;
}
.mod-1col .logo
{
     padding-top: 24px;
    padding-bottom: 24px;
}    /** orange */
.mod-1col .logo img
{
    width: 306px;
    max-width: 306px;
}
.mod-1col #nav
{
     padding-top: 14px;
    padding-bottom: 0;

}
.mod-1col #hero-img
{
     padding-top: 8px;

}


/*
|--------------------------------------------------------------------------
|  2 COL FLUID
|-------------------------------------------------------------------------- 
*/
/** pink  | overide container td padding here if required  e.g. for full width img */
.mod-2col-fluid .container__td
{
    padding-top: 40px;
    padding-bottom: 30px;

    border-bottom: 1px solid #d7d8da;
}
/** Get rid of top pad on first of 2col modules */
#first .container__td
{
    padding-top: 0;
}
.mod-2col-fluid .inner-container
{
    padding: 0;
}
/** orange   */
.mod-2col-fluid .inner-container__td
{
    padding: 0;
}
/** LEFT COL ----------------------------------------------- */
.mod-2col-fluid .col-l
{
    padding: 0;
}
/** green  */
.mod-2col-fluid .col-l__td
{
    padding: 0 0 0 34px;
}
.mod-2col-fluid .col-l .content
{
    padding: 0;
}
/** RIGHT COL ----------------------------------------------- */
.mod-2col-fluid .col-r
{
    padding: 0;
}
/** green  */
.mod-2col-fluid .col-r__td
{
    width: 100%;
    padding: 0 34px 0 34px;

    text-align: left;
    vertical-align: top;
} /** green  */
.mod-2col-fluid .content-container
{
    padding: 0;
}
.mod-2col-fluid .content-container__td
{
    padding: 0;
} /** skyblue  */
.mod-2col-fluid .col-r .content
{
    padding: 0;
}
/*
|--------------------------------------------------------------------------
|  2 COL STACK
|-------------------------------------------------------------------------- 
*/
.mod-2col-stack .container__td
{
    padding-top: 24px;
    padding-right: 5.084745762712%;
    padding-bottom: 0;
    padding-left: 5.084745762712%;
} /** pink  | overide container td padding here if required  e.g. for full width img */

.mod-2col-stack .inner-container
{
    padding: 0;
}
/** orange  */
.mod-2col-stack .inner-container__td
{
    padding: 0;
}
/** LEFT COL -------------------------------------------------- */
.mod-2col-stack .col-l
{
    width: 51.88679245283%;
}
/** green  */
.mod-2col-stack .col-l__td
{
    padding: 0 ;
}
.mod-2col-stack .content-container
{
    padding: 0;
}
/** skyblue  */
.mod-2col-stack .content-container__td
{
    padding: 25px 21px 25px;
}
.mod-2col-stack .col-l .content
{
    padding: 0;
}

/** RIGHT COL ----------------------------------------------- */
.mod-2col-stack .col-r
{
    width: 48.11320754717%;
}
.mod-2col-stack .col-r__td
{
    width: 100%;
    padding: 0;
    padding-top: 18px;

    text-align: left;
    vertical-align: top;
} /** green  */
/*
|--------------------------------------------------------------------------
|  4 COL STACK
|-------------------------------------------------------------------------- 
*/
.mod-4col-stack-even .container__td
{
    padding-top: 24px;
    padding-right:  2.941176470588%;
    padding-bottom:0;
    padding-left:  2.941176470588%;
} /** pink  | overide container td padding here if required  e.g. for full width img */

.mod-4col-stack-even .inner-container
{
    padding: 0;
}
/** orange  */
.mod-4col-stack-even .inner-container__td
{
    padding: 0;
}
/** LEFT COL -------------------------------------------------- */
.mod-4col-stack-even .col-l
{
    width: 48.4375%;
}
/** green  */


/** RIGHT COL ----------------------------------------------- */
.mod-4col-stack-even .col-r
{
    width:  48.4375%;
}

/**  INNER COLs ----------------------------------------------- */
.mod-4col-stack-even .col-1,
.mod-4col-stack-even .col-2,
.mod-4col-stack-even .col-3,
.mod-4col-stack-even .col-4
{
    width:  46.774193548387%;
}
.mod-4col-stack-even .gutter
{
    width:  3.125%;
}
.mod-4col-stack-even .col-l .gutter,
.mod-4col-stack-even .col-r .gutter

{
    width:  6.451612903226%;
}

