/*
|==========================================================================
| MEDIA QUERIES
|==========================================================================

BREAKPOINT 1 (+ 15px scrollbar)  - Fluid 
========================================================================== */
@media only screen and (max-width: 640px) {
     /**  PRESETS */
    .nomob {
        display: none !important;
    }
    .showmob {
        display: block !important;
        max-height: none !important;
        font-size: 12px !important;
    }
    .container {
        width: 100% !important;
        padding: 0;
    }
    .center .container__td {
        text-align: center!important;
    }
    .max-width-none {
        max-width: none !important;
    }
    .nopad {
        padding: 0 !important;
    }
    /*
    |--------------------------------------------------------------------------
    | 4COL STACK 
    |-------------------------------------------------------------------------- 
    */    
   .mod-4col-stack-even .container__td {
    width: 90% !important;
   }
   .mod-4col-stack-even .col-r,
   .mod-4col-stack-even .col-l
{
    width:  100% !important;
}
    .mod-4col-stack-even img {
    width:  100% !important;
    max-width: none !important;
    }

}

/*  
BREAKPOINT 2 -  Stack 
============================================================================= */
@media only screen and (max-width: 580px) {
    .container {
        width: 100% !important;
        padding: 0;
    }
    .center .container td {
        text-align: center !important;
    }
    u + .body .wrapper {
        width: 100% !important;
        width: 100vw !important;
    }
    .width-100percent {
        width: 100% !important;
    }
    /*
    |--------------------------------------------------------------------------
    | 2COL STACK 
    |-------------------------------------------------------------------------- 
    */ 
    /**  apply 100% width to L&R cols to stack */
    .mod-2col-stack .col-l,
    .mod-2col-stack .col-r {
        width: 100% !important;
    }
    
   
}

